/*
index.css
index.html 문서의 스타일 시트를 정의하는 파일
여러 파일에서 공유하는 css는 여기에 적지 않는다.
*/

/* #을 적고 그 뒤에 적은 단어는 id의 값을 가리킨다.
즉, #nav_bar는 id="nav_bar"인 태그를 가리키는 것이다.
*/
#nav_bar {
    min-height: inherit;
    min-width: 5%;
    /* border: 1px dashed black; */
    /* background-color: azure; */
}

#container {
    /* 부모 태그 너비의 90%를 차지 */
    min-width: 90%;
    min-height: 90vh;
}

main.flex_item {
    flex-grow: 1;
    background-color: #eff2f6;
    border-radius: 15px;
}

body {
    background-color: rgb(216, 213, 227);
}

.nav_item {
    min-width: 50px;
    min-height: 50px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.nav_container {
    flex-direction: column;
}

.nav_container>.nav_item {
    margin-bottom: 10px;
    transition-property: background-color;
    transition: 1s;
}

.nav_container>.nav_item:hover {
    background-color: floralwhite;
}

.grid_content {
    display: grid;
    width: inherit;
    max-width: 600px;
    height: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 20px;
}

.square {
    /* border: 1px solid rgb(133, 133, 133); */
    background-color: #e5e7ea;
}

.round_margin10{
    border-radius: 10px;
}

main#main_container {
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 8px;
}