body {
    background-color: #a8c8ff74;
}

#container {
    background-color: rgb(220, 220, 220);
}

#navigation>div {
    display: inline-block;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}

#left_box_ul, #right_box_ul {
    display: flex;
}

ul.menubar>li {
    min-width: 90px;
    height: 45px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    line-height: 40px;
    /* border-radius는 외곽선의 모서리를 둥그렇게 가다듬어준다. */
    border-radius: 8px;
    font-size: larger;
    background-color: rgb(162, 126, 230);
}

#container {
    max-width: 1024px;
    margin: auto;
}

.nav-container {
    /* width: 1024px; */
    display: contents;
    background-color: #74a6ff;
    padding: 0 30px;
    border-radius: 25px;
}


/* *은 모든 태그를 의미하는 선택자다 */
/* * {
    border: 1px solid black
}
body, #container {
    border: none !important;
} */

#footer {
    display: flex;
    background-color: #313131;
    color: #7e7e7e;
    padding-top: 30px;
    justify-content: space-around;
}

#footer>section {
    display: inline-block;
}

#footer img {
    width: 64px;
}